Filter = {Bundles = ("com.apple.springboard");};
	empty = {
		PACKAGE_SEARCHING = "";
		PACKAGE_UNINSTALLING = "";

		PACKAGE_NOT_CYDIA_TITLE = "";
		PACKAGE_NOT_CYDIA_BODY = "";

		PACKAGE_DELETE_BODY = "";

		PACKAGE_UNINSTALL_ERROR_TITLE = "";
		PACKAGE_UNINSTALL_ERROR_BODY = "";

		PACKAGE_FINISH_TITLE = "";
		PACKAGE_FINISH_BODY = "";

		PACKAGE_FINISH_OKAY = "";
		PACKAGE_FINISH_RESTART = "";
		PACKAGE_FINISH_RELOAD = "";
		PACKAGE_FINISH_REBOOT = "";
	};
