Package: net.howett.cydelete
Name: CyDelete
Version: 0.0.0-1
Architecture: iphoneos-arm
Description: Delete Cydia packages from SpringBoard, just like App Store applications!
Maintainer: Dustin Howett <dustin@howett.net>
Author: Dustin Howett <dustin@howett.net>
Section: Tweaks
