Package: net.howett.cydelete
Name: CyDelete
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Delete Cydia packages from SpringBoard, just like App Store applications!
Maintainer: Dustin Howett <dustin@howett.net>
Author: Dustin Howett <dustin@howett.net>
Section: Tweaks
Depiction: http://moreinfo.thebigboss.org/moreinfo/cydeleteDp.php
Homepage: http://moreinfo.thebigboss.org/moreinfo/cydelete.php
dev: dustinhowett
Sponsor: thebigboss.org <http://thebigboss.org>
